{{ define "main" }}
<div class="home">
    <!-- Descriptive body -->
    <div class="intro">
        <p>{{ .Site.Params.description }}</p>
    </div>

    <!-- Minimalist post list -->
    {{ $posts := where .Site.RegularPages "Type" "posts" }}
    {{ if $posts }}
        <ul class="post-list-minimal">
            {{ range $posts }}
                <li>
                    <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
                    <span>
                        <a href="{{ .Permalink }}" class="post-title-link">{{ .Title }}</a>
                        {{ if .Params.description }}
                            <span class="post-description">{{ .Params.description }}</span>
                        {{ else if .Summary }}
                            <span class="post-description">{{ truncate 100 .Summary }}</span>
                        {{ end }}
                    </span>
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p>No posts yet.</p>
    {{ end }}
</div>
{{ end }}